server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: hotels
          uri: lb://HOTEL-SERVICE
          predicates:
            - Path=/hotels/**
            - Path=/rooms/**
            - Path=/api/hotels/**
            - Path=/api/rooms/**
          filters:
            - StripPrefix=1
        - id: reservations
          uri: lb://RESERVATION-SERVICE
          predicates:
            - Path=/reservations/**
            - Path=/api/reservations/**
          filters:
            - StripPrefix=1

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
